<% item = @item || locals[:item] %>
<h2><%= item.name.capitalize %></h2>
<p>
  <b>Age:</b>
  <%= item.age %>
</p>

<p>
  <b>Series:</b>
  <%= item.series %>
</p>

<p>
  <b>Diameter:</b>
  <%= item.diameter %>
</p>

<p>
  <b>Designer:</b>
  <%= item.designer %>
</p>

<p>
  <b>Weight:</b>
  <%= item.weight %>
</p>

<p>
  <b>Edge:</b>
  <%= item.edge %>
</p>

<p>
  <b>Metal content:</b>
  <%= item.metal_content %>
</p>