<% item = defined?(locals[:item]) ? locals[:item] : @item %>

<h3><%= item.name %></h3>
<p>
  <strong>Age: </strong>
  <%= item.age %>
</p>

<p>
  <strong>Series: </strong>
  <%= item.series %>
</p>

<p>
  <strong>Diameter: </strong>
  <%= item.diameter %>
</p>

<p>
  <strong>Designer: </strong>
  <%= item.designer %>
</p>

<p>
  <strong>Weight: </strong>
  <%= item.weight %>
</p>

<p>
  <strong>Edge: </strong>
  <%= item.edge %>
</p>

<p>
  <strong>Metal content: </strong>
  <%= item.metal_content %>
</p>